:root {
  --color-primario: #f3f5fc;
  --color-secundario: #0a3871;
  --fuente-exo: "Exo 2", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-exo);
  background-color: var(--color-primario);
  color: var(--color-secundario);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.header-image {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}

.titulo_Header {
  font-size: 2rem;
  font-weight: 600;
}

main {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

.encriptar, .encriptado {
  flex: 1;
}

textarea {
  width: 100%;
  height: 500px;
  padding: 1rem;
  border: 2px solid var(--color-secundario);
  border-radius: 8px;
  font-family: inherit;
  font-size: 2rem;
  resize: none;
}

.terminos {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.botones {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 24px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-encriptar, #btn-desencriptar {
  background-color: var(--color-secundario);
  color: white;
}

#btn-encriptar:hover, #btn-desencriptar:hover {
  background-color: #05254e;
}

#btn-copiar {
  background-color: #d8dfe8;
  color: var(--color-secundario);
  display: none;
}

#btn-copiar:hover {
  background-color: #b8c7db;
}

.encriptado {
  background-color: white;
  border-radius: 32px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#muñeco {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#resultado {
  display: none;
}

footer {
  background-color: #efefef;
  padding: 1rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer a.github,
footer a.codepen {
  transition: color 1000ms ease;
  font-size: 45px;
  color: rgb(0, 0, 0);
  padding: 5px;
  
}

footer a.codepen {
  color: black;
}

footer a.github:hover,
footer a.codepen:hover {
  color: rgb(117, 117, 117);
}

footer a {
  color: var(--color-secundario);
  font-size: 1.5rem;
  text-decoration: none;
}

footer p {
  font-size: 0.9rem;
}

footer span {
  font-weight: 600;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  
  .encriptado {
    margin-top: 2rem;
  }
}